In [2]:
import pandas as pd

In [ ]:

columns = ['steeee','district','year','jan' ,'feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec','annual_rainfall','flood']


df = pd.read_csv('floods.csv', skiprows=1 , header=None, names=columns )

# df = df.rename(columns={'STATE' : 'state', 'DISTRICT' : 'district',	'YEAR': 'year',	'JAN': 'jan' ,	'FEB': 'feb',	'MAR':'mar'	,'APR':'apr',	'MAY': 'may',	'JUN':'jun',	'JUL':'jul',	'AUG':'aug',	'SEP':'sep',	'OCT':'oct',	'0V':'nov'	, 'DEC':'dec'	, 'ANNUAL RAINFALL': 'annual_rainfall',	'FLOOD':'flood'})

df.head(10)

,steeee,district,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual_rainfall,flood
0,108,108001,2000,158.83,162.37,210.68,192.51,214.73,157.55,98.80,165.63,289.14,388.77,313.59,213.60,2566.19,0
1,108,108001,2001,159.10,41.71,174.50,220.56,177.65,105.61,166.59,193.88,206.40,298.14,232.54,150.82,2127.50,1
2,108,108001,2002,61.25,50.34,88.15,207.13,115.01,96.08,115.78,111.12,285.96,206.94,261.33,264.61,1863.70,1
3,108,108001,2003,82.88,118.04,193.40,100.36,101.07,166.81,167.61,270.87,238.84,682.07,251.46,182.35,2555.77,1
4,108,108001,2004,119.30,71.16,120.80,138.74,120.27,146.03,145.35,172.92,222.61,360.21,187.22,168.79,1973.39,1
5,108,108001,2005,84.15,47.09,88.05,123.55,253.45,132.78,162.61,169.94,148.08,299.61,341.91,339.13,2190.35,1
6,108,108001,2006,90.83,127.49,175.04,119.93,293.02,165.67,154.75,142.26,194.63,210.24,226.00,174.45,2074.29,1
7,108,108001,2007,158.03,37.58,120.41,207.85,126.68,115.44,204.21,185.02,301.72,311.37,197.08,191.26,2156.66,0
8,108,108001,2008,113.20,78.19,175.60,177.84,132.85,199.12,200.79,210.29,273.89,319.17,392.31,297.75,2571.02,1
9,108,108001,2009,169.22,102.84,271.61,198.05,271.25,81.73,192.86,348.74,187.08,205.45,377.02,268.90,2674.74,1

In [21]:
df.shape

(825, 17)

In [ ]:
columns = ['steeee','district','year','jan' ,'feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec','annual_rainfall','flood']

df2 = pd.read_csv('floods.csv', header=None, skiprows= 1)
df2.head()

df2.columns = columns
df2.head()

,steeee,district,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual_rainfall,flood
0,108,108001,2000,158.83,162.37,210.68,192.51,214.73,157.55,98.80,165.63,289.14,388.77,313.59,213.60,2566.19,0
1,108,108001,2001,159.10,41.71,174.50,220.56,177.65,105.61,166.59,193.88,206.40,298.14,232.54,150.82,2127.50,1
2,108,108001,2002,61.25,50.34,88.15,207.13,115.01,96.08,115.78,111.12,285.96,206.94,261.33,264.61,1863.70,1
3,108,108001,2003,82.88,118.04,193.40,100.36,101.07,166.81,167.61,270.87,238.84,682.07,251.46,182.35,2555.77,1
4,108,108001,2004,119.30,71.16,120.80,138.74,120.27,146.03,145.35,172.92,222.61,360.21,187.22,168.79,1973.39,1