Data : 
-   Qualitative - 
    - things, and their attributes

-   Quanitative 
    - sizes of quantities 


- Tables, somthing like columns, 
    - row - stores data in numbers

- Two things:

- Central Tendency - We try to identify the middle/average/common value
- Spread - How much the data is spread around

5
20
50
80
130

5

In [51]:
nums = [20,80,130,50,90,89]
nums.sort()
print('sorted list nums: ',nums)
# if the nums is odd, length/2
# 3/2 = 1.5
# 7/2 = 3.5
#  0  1   2   3    4
# [5, 20, 50, 80, 130]

mean = sum(nums) / len(nums)

print('mean of the nums is: ',mean)

if len(nums)%2 == 0:
    #if length is even
    median = (nums[len(nums)//2] + nums[(len(nums)//2) - 1]) / 2
    print("median is: ",median)
else:
    # if the length is odd
    median = nums[len(nums)//2]
    print("median is: ",median)


# nums[2]

sorted list nums:  [20, 50, 80, 89, 90, 130]
mean of the nums is:  76.5
median is:  84.5

In [50]:
(len(nums)/2) - 1

2.0

In [ ]:
# nums 6 ---- 2

# actual median
(nums[2] + nums[3]) /2

84.5

### Explore how to sort a list manually

create a program, that takes a list, and returns a sorted list
- only allowed to google, when you have struggled for atleast 1 hour
- use google, create a different program, based on the same - understand what is happening
-  you are not allowed to use list methods or libraries
- can use list, but not methods
- you can use numpy but not the methods like sort

In [53]:
import pandas as pd

In [62]:
iris = pd.read_csv('iris.csv')
iris.head()

   petal_lenght  petal_width  sepal_length  sepal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [65]:
# aggregate
df = iris[['petal_lenght'	,'petal_width'	,'sepal_length',	'sepal_width']]
print('the mean is: ',df.mean())
print('the median is: ',df.median())
print('the mode is: ',df.mode())

the mean is:  petal_lenght    5.843333
petal_width     3.054000
sepal_length    3.758667
sepal_width     1.198667
dtype: float64
the median is:  petal_lenght    5.80
petal_width     3.00
sepal_length    4.35
sepal_width     1.30
dtype: float64
the mode is:     petal_lenght  petal_width  sepal_length  sepal_width
0           5.0          3.0           1.5          0.2